{% extends 'base.html' %}

{% load static %}

{% block title %}Grants.gov: search {{ request.GET.q }}{% endblock %}

{% block content %}
<h2>Search results</h2>
<form method="get" action="{% url 'search' %}" class="usa-search usa-search--big margin-bottom-6" role="search">
    <label class="usa-sr-only" for="search-field-en-big">Search</label>
    <input
        type="search"
        class="usa-input"
        id="search-field-en-big"
        name="q"
        value="{{ request.GET.q }}"
        placeholder="Search 71,239 opportunities">
    <button class="usa-button" type="submit">
        <span class="usa-search__submit-text">Search </span
        ><img
            src="{% static 'img/usa-icons-bg/search--white.svg' %}"
            class="usa-search__submit-icon"
            alt="Search">
    </button>
</form>

<h3>Open opportunities</h3>
<ul class="usa-card-group">
{% for opp in open_opps %}
  <li class="usa-card tablet:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <p>
            <span class="usa-tag bg-accent-cool-dark">
                Open
            </span>
        </p>
        <h2 class="usa-card__heading">{{ opp.title }}</h2>
      </div>
      <div class="usa-card__body">
		{% if opp.agency_name %}
            <h4><span class="text-normal">Agency:</span> {{ opp.agency_name }}</h4>
		{% endif %}
        <p>{{ opp.description|truncatewords:20 }}</p>
      </div>
      <div class="usa-card__footer" hx-boost="true">
          <a href="{% url 'details' opp.grant_id %}?q={{ request.GET.q | urlencode }}" class="usa-button">View details</a>
      </div>
    </div>
  </li>
{% endfor %}
</ul>

<h3>Closed opportunities</h3>
<ul class="usa-card-group">
{% for opp in closed_opps %}
  <li class="usa-card tablet:grid-col-4">
    <div class="usa-card__container">
      <div class="usa-card__header">
        <p>
            <span class="usa-tag bg-accent-warm-dark">
                Closed
            </span>
        </p>
        <h2 class="usa-card__heading">
            {{ opp.title }}
        </h2>
      </div>
      <div class="usa-card__body">
		{% if opp.agency_name %}
            <h4><span class="text-normal">Agency:</span> {{ opp.agency_name }}</h4>
		{% endif %}
        <p>{{ opp.description|truncatewords:20 }}</p>
        </span>
      </div>
      <div class="usa-card__footer" hx-boost="true">
          <a href="{% url 'details' opp.grant_id %}?q={{ request.GET.q | urlencode }}" class="usa-button">View details</a>
      </div>
    </div>
  </li>
{% endfor %}
</ul>
{% endblock %}
